body {
  margin: 0;
  padding: 0;
  font-family: "Roboto Mono", monospace;
  font-size: 1rem;
  color: #444;
  line-height: 1.5;
}

#root,
body,
html {
  height: 100vh;
  background-color: #f3f3f3;
}

* {
  box-sizing: border-box;
}

p {
  margin: 0 0 0.75em;
}

a {
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  background-color: black;
  color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  font-weight: 400;
  margin: 0 0 0.5em;
}
